# Node.js
node_modules/

# Dependency directories
/.pnp/
.pnp.js

# Yarn
yarn-error.log

# Visual Studio Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# IDE-specific files
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw??